<html>

<head>
  <title>HTMeLlis Blog</title>
</head>

<body>

  <div>
    <h1> <a href="/">HTMeLlis Blog </a></h1>
  </div>

  <div>
    <p>Published: 14.4.19, 14:14 Uhr</p>
    <h2> <a href="">Hello World!</a></h2>
    <p>Use what you see, don't plan it. We'll do another happy little painting. You gotta think like a tree. You are only limited by your imagination.</p>
  </div>

  <div>
    <p>Published: 12.2.19, 12:12 Uhr</p>
    <h2> <a href="">Two posts are better than one!</a></h2>
    <p>Lirum Larum Löffelstiel.</p>
  </div>


</body>

</html>
